div,p,dl,dd,a,b,u,em,input,textarea,button,select,form,section,label,span,td,li,nav,footer,body,ul,i {
	padding: 0;
	margin: 0;
	word-wrap: break-word;
	word-break: break-all;
	list-style: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0); /** 点击区域设置设置为透明 **/
}
html,body {
	height:100%;
}
body {
	color: #fff;
	background: #fff;
	overflow-x: hidden;
	-webkit-user-select: none; /** 禁止选取元素内容 **/
	        user-select: none;
}
body,td,input,textarea,option,select,button {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1em; 
	-webkit-text-size-adjust: none; /** 禁止自动调整字体大小, 如页面缩放时 **/
}
body {
    font-size: 0.9em;
}
img,video,nav,textarea,input,button {
	border: 0;
	vertical-align: bottom;
}
a {
    color: #fff;
	text-decoration: none;
	-webkit-touch-callout: none; /** 禁止长按弹出系统菜单 **/
}
a:focus,
a:active {
    outline: none;
}

@media screen and (min-width: 600px ) {
    .header {
        height: 600px;
        background-image: url(images/m/bg@2x.png);
        background-size: cover;
    }
    .logo {
        width: 130px;
        margin: 0 auto;
        padding: 45px 0 0;
    }
    .logo img {
        width: 130px;
        height: 130px;
    }
    
    .logo-font {
        width: 176px;
        height: 83px;
        margin: 30px auto 0;
    }
    .logo-font img {
        width: 176px;
        height: 83px;
    }
    .slogan {
        margin-top: 55px;
        font-size: 34px;
        line-height: 1;
        text-align: center;
    }
    .slogan-desc {
        margin-top: 25px;
        font-size: 22px;
        line-height: 1;
        text-align: center;
    }
    .dl-btns {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;

        margin-top: 45px;
    }
    .dl-btn {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        width: 220px;
        height: 82px;
        padding: 0 0 0 50px;
        font-size: 20px;
        line-height: 82px;
        text-align: center;
        border-radius: 6px;
        background: #000;
    }
    .android-btn, .apple-btn {
        background-repeat: no-repeat;
        background-size: 27px 30px;
        background-position: 30px 24px;
    }
    .android-btn {
        margin-right: 36px;
        background-image: url(images/m/android@2x.png);
    }
    .apple-btn {
        background-image: url(images/m/apple@2x.png);
    }

    .sec1, .sec2, .sec3 {
        height: 250px;
        background-size: cover;
    }
    .sec1 {
        background-image: url(images/m/sec1@2x.png);
    }
    .sec2 {
        background-image: url(images/m/sec2@2x.png);
    }
    .sec3 {
        background-image: url(images/m/sec3@2x.png);
    }
    .sec {
        height: 1500px;
        background-image: url(images/m/sec@2x.png);
        background-size: cover;
    }
    .footer {
        height: 100px;
        padding: 30px 0 0;
        background: #000;
    }
    .copyright, .contact {
        text-align: center;
        font-size: 22px;
        line-height: 1;
    }
    .copyright {
        padding: 0 0 10px;
    }
}

@media screen and (max-width: 599px) {
    .header {
        height: 450px;
        background-image: url(images/m/bg@2x.png);
        background-size: cover;
    }
    .logo {
        width: 172px;
        margin: 0 auto;
        padding: 22px 0 0;
    }
    .logo img {
        width: 172px;
        height: 172px;
    }
    
    .logo-font {
        width: 132px;
        height: 58px;
        margin: 15px auto 0;
    }
    .logo-font img {
        width: 132px;
        height: 58px;
    }
    .slogan {
        margin-top: 27px;
        font-size: 22px;
        line-height: 1;
        text-align: center;
    }
    .slogan-desc {
        margin-top: 12px;
        font-size: 18px;
        line-height: 1;
        text-align: center;
    }
    .dl-btns {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;

        margin-top: 22px;
    }
    .dl-btn {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        width: 165px;
        height: 61px;
        padding: 0 0 0 25px;
        line-height: 61px;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
        background: #000;
    }
    .android-btn, .apple-btn {
        background-repeat: no-repeat;
        background-size: 20px 22px;
        background-position: 18px 16px;
    }
    .android-btn {
        margin-right: 27px;
        background-image: url(images/m/android@2x.png);
    }
    .apple-btn {
        background-image: url(images/m/apple@2x.png);
    }

    .sec1, .sec2, .sec3 {
        height: 250px;
        background-size: cover;
    }
    .sec1 {
        background-image: url(images/m/sec1@2x.png);
    }
    .sec2 {
        background-image: url(images/m/sec2@2x.png);
    }
    .sec3 {
        background-image: url(images/m/sec3@2x.png);
    }
    .sec {
        height: 1125px;
        background-image: url(images/m/sec@2x.png);
        background-size: cover;
    }
    .footer {
        height: 50px;
        padding: 13px 0 0;
        background: #000;
    }
    .copyright, .contact {
        text-align: center;
        font-size: 12px;
        line-height: 12px;
    }
    .copyright {
        padding: 0 0 5px;
    }

}

@media screen and (max-width: 360px) {
    .header {
        height: 300px;
        background-image: url(images/m/bg@2x.png);
        background-size: cover;
    }
    .logo {
        width: 65px;
        margin: 0 auto;
        padding: 22px 0 0;
    }
    .logo img {
        width: 65px;
        height: 65px;
    }
    
    .logo-font {
        width: 88px;
        height: 42px;
        margin: 15px auto 0;
    }
    .logo-font img {
        width: 88px;
        height: 42px;
    }
    .slogan {
        margin-top: 27px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    .slogan-desc {
        margin-top: 12px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }
    .dl-btns {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;

        margin-top: 22px;
    }
    .dl-btn {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        width: 110px;
        height: 41px;
        padding: 0 0 0 25px;
        line-height: 41px;
        text-align: center;
        border-radius: 5px;
        font-size: 12px;
        background: #000;
    }
    .android-btn, .apple-btn {
        background-repeat: no-repeat;
        background-size: 13px 15px;
        background-position: 15px 12px;
    }
    .android-btn {
        margin-right: 18px;
        background-image: url(images/m/android@2x.png);
    }
    .apple-btn {
        background-image: url(images/m/apple@2x.png);
    }

    .sec1, .sec2, .sec3 {
        height: 250px;
        background-size: cover;
    }
    .sec1 {
        background-image: url(images/m/sec1@2x.png);
    }
    .sec2 {
        background-image: url(images/m/sec2@2x.png);
    }
    .sec3 {
        background-image: url(images/m/sec3@2x.png);
    }
    .sec {
        height: 844px;
        background-image: url(images/m/sec@2x.png);
        background-size: cover;
    }
    .footer {
        height: 50px;
        padding: 13px 0 0;
        background: #000;
    }
    .copyright, .contact {
        text-align: center;
        font-size: 12px;
        line-height: 12px;
    }
    .copyright {
        padding: 0 0 5px;
    }

}

@media screen and (max-width:320px) {
    .header {
        height: 300px;
        background-image: url(images/m/bg@2x.png);
        background-size: cover;
    }
    .logo {
        width: 65px;
        margin: 0 auto;
        padding: 22px 0 0;
    }
    .logo img {
        width: 65px;
        height: 65px;
    }
    
    .logo-font {
        width: 88px;
        height: 42px;
        margin: 15px auto 0;
    }
    .logo-font img {
        width: 88px;
        height: 42px;
    }
    .slogan {
        margin-top: 27px;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    .slogan-desc {
        margin-top: 12px;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }
    .dl-btns {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        display: box;
        box-orient: horizontal;
        box-pack: center;
        box-align: center;

        margin-top: 22px;
    }
    .dl-btn {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: block;
        width: 110px;
        height: 41px;
        padding: 0 0 0 25px;
        line-height: 41px;
        text-align: center;
        border-radius: 5px;
        font-size: 12px;
        background: #000;
    }
    .android-btn, .apple-btn {
        background-repeat: no-repeat;
        background-size: 13px 15px;
        background-position: 15px 12px;
    }
    .android-btn {
        margin-right: 18px;
        background-image: url(images/m/android@2x.png);
    }
    .apple-btn {
        background-image: url(images/m/apple@2x.png);
    }

    .sec1, .sec2, .sec3 {
        height: 250px;
        background-size: cover;
    }
    .sec1 {
        background-image: url(images/m/sec1@2x.png);
    }
    .sec2 {
        background-image: url(images/m/sec2@2x.png);
    }
    .sec3 {
        background-image: url(images/m/sec3@2x.png);
    }
    .sec {
        height: 750px;
        background-image: url(images/m/sec@2x.png);
        background-size: cover;
    }
    .footer {
        height: 50px;
        padding: 13px 0 0;
        background: #000;
    }
    .copyright, .contact {
        text-align: center;
        font-size: 12px;
        line-height: 12px;
    }
    .copyright {
        padding: 0 0 5px;
    }
}
