<!DOCTYPE html>
<html lang="zh-CN">
<head>
   <meta charset="utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="xwocder" />
   <meta name="readability-verification" content="QCzSs992GxmRYRKVpPeZ6LE2tS8aYKxsSSQKV8YM"/>
   <meta name="keywords" content="{% for tag in page.tags %}{{ tag }}, {% endfor %} " />
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
<div class="site">
  <div class="title">
    <a href="/">海魂衫</a>
    <a class="extra" href="/">home</a>
  </div>
  {{ content }}
  <div class="footer">
    <div class="contact">
      <p>
        github<br />
        douban<br />
        slideshare
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/xwcoder/">github.com/xwcoder</a><br />
        <a href="http://www.douban.com/people/xwcoder/">douban.com/people/xwcoder/</a><br />
        <a href="http://www.slideshare.net/xwcoder">slideshare.net/xwcoder</a>
      </p>
    </div>
  </div>
</div>
<a href="https://github.com/xwcoder"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
</body>
</html>
